.login-form {
  background-image: url('D:\React-Car-Rental-Website-master\React-Car-Rental-Website-master\src\assets\all-images\login_img.jpg');
  background-color: hwb(96 9% 22% / 0.871);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form-group {
  margin-bottom: 50px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 800;
}

.form-group input[type="name"],
.form-group input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bec712;
  transition: all 0.2s ease-in-out;
}

.form-group input[type="name"]:focus,
.form-group input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.form-group input[type="email"]:hover,
.form-group input[type="password"]:hover {
  border-color: #007bff;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  background-color: #0069d9;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
